@{ 
    Layout = null;
}

<!DOCTYPE html>
<html >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Laura Bootstrap Theme</title>
  <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
  <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:300,400|Questrial|Satisfy">
  <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="~/css/animate.css">
  <link rel="stylesheet" type="text/css" href="~/css/style.css">

  <!-- =======================================================
    Theme Name: Laura
    Theme URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" onload="myFunction()">
    <div class="header">
        <div class="bg-color">
            <header id="main-header">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#lauraMenu">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>
                        <div class="collapse navbar-collapse" id="lauraMenu">
                            <ul class="nav navbar-nav navbar-right navbar-border">

                                <li class="active"><a href="#main-header">Home</a></li>


                                <li><a href="#about">About</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#testimonial">Testimonial</a></li>
                                <li><a href="#contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow fadeIn delay-05s">
                            <div class="banner-text">
                                <h2>Hi, I am <span>Jalpa Patel</span> ,</h2>
                                <p>A Front End Developer <br>& Designer</p>
                            </div>
                            <div class="overlay-detail text-center">
                                <a href="#about"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="about" class="section-padding wow fadeIn delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-right">
                    <h2 class="title-text">
                        Meet<br><span class="deco">Jalpa</span> Patel
                    </h2>
                </div>
                <div class=" row">
                    <div class="col-md-6 text-left">
                        <div class="about-text">
                            <h1>      </h1>
                            <p>
                                I am computer science graduate from University of Central Florida. Go Knights!!
                                After graduation, I dedicated myself in raising my two beautiful kids. Fast forwarding 17 years of my most fulfilling life with my wonderful family, it’s about time to pursue my passion for coding and problem solving. My husband’s motivation and his belief in me with the structure and guidance provided by Coder Foundry gave me tremendous confidence to grow as a Developer. Being a woman in tech can have challenges but it is also an incredible opportunity to prove myself in the rapidly changing tech stage.
                            </p>
                            <p>&nbsp;</p>
                            <p>Please look at my portfolio for the projects that I have created.</p>
                            <p>&nbsp;</p>
                            <p> Keep Calm & Let’s Code!!  </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-center">Let's <span class="deco">See</span> My Work</h2>
                </div>
                <div class="col-md-12">
                    <div id="myGrid" class="grid-padding">
                        <div class="col-md-4 col-sm-4 padding-right-zero">

                            <img src="~/img/SThomas1.jpg" class="img-responsive" data-toggle="modal" data-target="#mathexc1">
                            
                           
                        </div>
                        <div class="col-md-4 col-sm-4 padding-right-zero">

                            
                            <img src="~/img/port03.jpg" class="img-responsive" data-toggle="modal" data-target="#myModal">


                        </div>
                        <div class="col-md-4 col-sm-4 padding-right-zero">
                            <img src="~/img/SThomas2.jpg" class="img-responsive" data-toggle="modal" data-target="#myModal">
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonial" class="section-padding wow fadeInUp">
        <div class="container">
            <div class="row">
                <h2 class="title text-center">See What Our <span class="deco">Clients</span> Are Saying ?</h2>
                <div class="test-sec">
                    <div class="col-sm-4">
                        <blockquote>
                            <p> Jalpa is absolutely fantastic to work with and I would highly recommend her no matter what type of project you have. </p>
                        </blockquote>
                        <div class="carousel-info">
                            <div class="pull-left"> <span class="testimonials-name">Barry Sylvia</span> <span class="testimonials-post">IT Manager, MSP Tech</span> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <blockquote>
                            <p>Working with Jalpa was better than expected. She is an incredibly talented developer but what really makes her stand out is her work ethic and steady approach. Time after time, and without us asking, she added enhancements and improvements that resulted in a better end product for us. </p>
                        </blockquote>
                        <div class="carousel-info">
                            <div class="pull-left"> <span class="testimonials-name">Laura Hood</span> <span class="testimonials-post">CEO, Pegasus Ltd</span> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <blockquote>
                            <p>Throughout the process, Jalpa was patient, efficient and responsive to our needs .We are now in a much better position to move forward with our core mission and new projects. </p>
                        </blockquote>
                        <div class="carousel-info">
                            <div class="pull-left"> <span class="testimonials-name">Prayas Desai</span> <span class="testimonials-post">Owner,  Balalji Inc.</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="section-padding wow fadeIn delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-sec text-center">
                        <h2>Want To Do <span class="deco">Project</span> Together?</h2>
                        <p>Please feel free to contact me</p>
                    </div>
                </div>

                <div class="col-md-8 col-md-push-2">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>

                        <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Send Message</button></div>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <footer class="footer-2 text-center-xs bg--white">
        <div class="container">
            <!--end row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="footer">
                        © Copyright Jalpa. All Rights Reserved
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Laura
                            -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <ul class="social-list">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-vimeo"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
            <!--end row-->
        </div>
    </footer>


    <!--MODAL FOR MATH Excercise-->

    <div id="mathexc1" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center" style="color:forestgreen">Javascript Excercises</h4>
                </div>
                <div class="modal-body">
                    <!--Java Exc-->
                    <ul class="nav nav-tabs" >
                        <li class="active"><a data-toggle="tab" href="#Menu1">Math</a></li>
                        <li><a data-toggle="tab" href="#Menu2">Factorial</a></li>
                        <li><a data-toggle="tab" href="#Menu3">Palindrome</a></li>
                        <li><a data-toggle="tab" href="#Menu4">FizzBuzz</a></li>
                        <li><a data-toggle="tab" href="#Menu5">SumOfAllFears</a></li>

                    </ul>

                    <div class="tab-content">

                        <div id="Menu1" class="tab-pane fade in active">


                            <style>
                                .standardW {
                                    width: 135px;
                                    margin-top: 10px;
                                }
                                .mathscroll {
                                     height: 400px;
                                    width: 550px;  
                                     overflow-x: auto;
                                }
                            </style>

                            <div class="row">
                                <div class="col-md-12 text-center h3" style=" color:royalblue">
                                    ..Let's Add, Substract, Find Min, Find Max and Average Numbers...
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">Enter Number 1:</div>
                                        <div class="col-md-6">
                                            <input type="Number" id="mathnum1" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">Enter Number 2:</div>
                                        <div class="col-md-6">
                                            <input type="Number" id="mathnum2" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">Enter Number 3:</div>
                                        <div class="col-md-6">
                                            <input type="Number" id="mathnum3" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">Enter Number 4:</div>
                                        <div class="col-md-6">
                                            <input type="Number" id="mathnum4" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">Enter Number 5:</div>
                                        <div class="col-md-6">
                                            <input type="Number" id="mathnum5" class="form-control" />
                                        </div>
                                    </div>


                                </div>

                                <div class="col-md-6">
                                    <div class="col-md-12 text-center" style="color:darkred" h3>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6" style="color:firebrick">
                                        <p id="smallest"></p>
                                    </div>
                                    <div class="col-md-6" style="color:firebrick">
                                        <p id="largest"></p>
                                    </div>
                                    <div class="col-md-6" style="color:firebrick">
                                        <p id="sum"></p>
                                    </div>
                                    <div class="col-md-6" style="color:firebrick">
                                        <p id="product"></p>
                                    </div>
                                    <div class="col-md-6" style="color:firebrick">
                                        <p id="average"></p>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <button id="mathBtn" class="btn btn-primary standardW">Calculate</button>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <button id="btnToggle1" class="btn btn-success standardW">Show code</button>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <button id="clearBtn1" class="btn btn-danger standardW">WipeOut</button>
                                    </div>
                                </div>
                            </div>
                            <div class=" row">
                                <div class=" col-md-12">
                                    <div id="code1" class="mathscroll">
                                        <pre class="brush:js">
                $("#mathBtn").click(function () {

            var num1 = Number($("#mathnum1").val());
            var num2 = Number($("#mathnum2").val());
            var num3 = Number($("#mathnum3").val());
            var num4 = Number($("#mathnum4").val());
            var num5 = Number($("#mathnum5").val());

            //Step 2

            var smallest = Math.min(num1, num2, num3, num4, num5);
            var largest = Math.max(num1, num2, num3, num4, num5);
            var sum = num1 + num2 + num3 + num4 + num5;
            var product = num1 * num2 * num3 * num4 * num5;
            var average = sum / 5;

            //step 3

            $("#smallest").text(" The smallest number is:" + smallest);
            $("#largest").text(" The largest number is:" + largest);
            $("#sum").text(" The sum is:" + sum);
            $("#product").text(" The product is:" + product);
            $("#average").text(" The average number:" + average);

            $("#clearBtn1").click(function () {
                $("#mathnum1, #mathnum2, #mathnum3, #mathnum4, #mathnum5").val("");
                $("#smallest").text("");
                $("#largest").text("");
                $("#sum").text("");
                $("#product").text("");
                $("#average").text("");
            });

        });

</pre>
                                    </div>
                                </div>
                            </div>



                        </div><!--MATH ENDING-->

                        <div id="Menu2" class="tab-pane fade">


                            <style>
                                standardW {
                                    width: 35px;
                                }
                            </style>

                            <div class="row">
                                <div class="col-md-12 text-center h2 " style="color:forestgreen">
                                    Welcome to factorial
                                </div>
                            </div>
                        <style>
                            .mathscroll {
                                     height: 400px;
                                    width: 550px;  
                                     overflow-x:auto;
                                }
                        </style>


                            <div class="row text-center">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <input id="fact" type="number" placeholder="Enter Number" class="form-control" />
                                        </div>
                                    </div>
                                    <h2></h2>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button id="btnFact" class="btn btn-success ">Calculate</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button id="btnToggle2" class="btn btn-primary ">Show code</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button id="btnClear2" class="btn btn-danger ">Clear</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 text-center h4" style="color:forestgreen">

                                        </div>
                                    </div>



                                    <div class="row" style=" color:blue">
                                        <p id="factOut" h3></p>

                                    </div>

                                </div>
                            </div>
                            <div class=" row">
                                <div class=" col-md-12">
                                    <div id="code2" class="mathscroll">
                                        <pre class="brush:js">
            $("#btnFact").click(function () {

                    //Step 1: Get Data
                    var number = +$("#fact").val();

                    if (number > 170) {
                        alert(".....");
                        $("#fact").val("");
                        return;
                    }
                    else {
                        //Step 2
                        for (var loop = number - 1; loop > 1; loop--) {
                            // Step 3 calculate Factorial
                            //number = number * loop
                            number *= loop;
                        }
                        $("#factOut").text(number);

                    }
                });

                $("#btnClear2").click(function () {
                    $("#fact").val("");
                    $("#factOut").text("");
                });
</pre>
                                    </div>
                                </div>
                            </div>

                        </div><!--Ending Factorail-->

                        <div id="Menu3" class="tab-pane fade">

                            <style>
                                .standardW {
                                    width: 135px;
                                    margin-top: 10px;
                                }
                                .mathscroll {
                                     height: 400px;
                                    width: 550px;  
                                     overflow-x:auto;
                                }
                            </style>
                     

                            <div class="row" style=" color:blueviolet">
                                <div class="col-md-12 text-center h2">
                                    Welcome to Palindrome
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <input id="palIn" type="text" placeholder="Enter word" class="form-control" />
                                        </div>
                                    </div>
                                    <h2> </h2>

                                    <div class="row">

                                        <div class="col-md-4">
                                            <button id="btnPal2" class="btn btn-primary standardW">Show  the Result</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button id="btnToggle6" class="btn btn-success standardW">Show code</button>
                                        </div>
                                        <div class="col-md-4">

                                            <button id="btnClear6" class="btn btn-danger standardW">Clear</button>
                                        </div>

                                    </div>
                                    <div class="row h2" style="color:darkmagenta">
                                        <div class="col-md-12 text-center">
                                            <p id="palOut"></p>

                                        </div>
                                    </div>
                                </div>
                                <div class=" row">
                                    <div class=" col-md-12">
                                        <div id="code6" class="mathscroll">
                                            <pre class="brush:js">

              
            $("#btnPal2").click(function () {
                var word = $("#palIn").val();
                var wordlower = word.toLowerCase();
                 var oneword = wordlower.replace(/\s+/g, '');
                var revword = oneword.split('').reverse().join('');

                var message = "";

                if (oneword == revword) {
                    message = word + " reversed = " + revword +  " Therefore, " + word + "  is a Palindrome.";
                }
                else {
                    message = word + "  reversed != " + revword +  "  Therefore, " + word + "  is a  not Palindrome.";
                }

                $("#palOut").text(message);


            });

            $("#btnClear6").click(function() {
                $("#palIn").val("");
                $("#palOut").text("");
            });

            $("#code6").hide();
            $("#btnToggle6").click(function() {
            $("#code6").toggle();
            if ($(this).text() == "Show code") {
                $(this).text("Hide code");
            }
            else {
                 $(this).text("Show code");
            }

        });



</pre>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div><!--End Pal-->

                        <div id="Menu4" class="tab-pane fade">
                        

                            <style>
                                .Fizz {
                                    color: blue;
                                }
                                .Buzz {
                                    color: red;
                                }
                                .FizzBuzz {
                                    color: forestgreen;
                                }
                                .mathscroll {
                                     height: 400px;
                                    width: 550px;  
                                     overflow-x:auto;
                                }
                            </style>
                          
                      
                            <div class="row" style=" color:darkred">
                                <div class="col-md-12 text-center h2">
                                    Welcome to FIZZBUZZ
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row text-center" style="color:green">
                                        <h3>Please enter first number</h3>
                                        <input id="fizzIn1" type="number" placeholder="Enter Number1:" class="form-control" />
                                    </div>
                                    <div class="row text-center" style="color:green">
                                        <h3>Please enter second number</h3>
                                        <input id="fizzIn2" type="number" placeholder="Enter Number2:" class="form-control" />
                                    </div>
                                    <h3>________________________________</h3>
                                </div>

                                <div class="col-md-6 h2">
                                        <div class="row ">
                                            <div class="col-md-12 text-center h4" style="color:forestgreen">
                                                <u>Result:   </u>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <p id="fizzOut" class="form-control"></p>
                                        </div>
                                   
                                </div>

                            </div> <!--Row-->
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <button id="btnFizz" class="btn btn-primary ">Let'sBuzz</button>
                                </div>
                                <div class="col-md-4 text-center">
                                    <button id="btnToggle4" class="btn btn-success ">Show code</button>
                                </div>
                                <div class="col-md-4 text-center">
                                    <button id="btnClear4" class="btn btn-danger ">WipeOut</button>
                                </div>

                            </div>

                            <div class=" row">
                                <div class=" col-md-12">
                                    <div id="code4" class="mathscroll">
                                        <pre class="brush:js">    

 $("#btnFizz").click(function () {

            var num1 = +$("#fizzIn1").val();

            var num2 = +$("#fizzIn2").val();

            for (var counter = 1, array = [], Fizz = 0, Buzz = 0; counter <= 100; counter++) {
                Fizz = counter % num1;
                Buzz = counter % num2;
                if (!Fizz && !Buzz) {
                    array.push("<span class='FizzBuzz'>FizzBuzz</span>");
                } else if (!Fizz) {
                    array.push("<span class='Fizz'>Fizz</span>");
                } else if (!Buzz) {
                    array.push("<span class='Buzz'>Buzz</span>");
                }else
                    array.push(counter);
                               
            }

            var output = array.join(', ');
            $("#fizzOut").html(output);

        });

        $("#btnClear4").click(function () {
            $("#fizzIn1").val("");
            $("#fizzIn2").val("");
            $("#fizzOut").text("");
        });


</pre>
                                    </div>
                                </div>
                            </div>




                        </div> <!--End Fizz-->

                        <div id="Menu5" class="tab-pane fade">


                            <style>
                                .standardW {
                                    width: 135px;
                                    margin-top: 10px;
                                }
                                .mathscroll {
                                     height: 400px;
                                    width: 550px;  
                                     overflow-x:auto;
                                }
                            </style>

                            <div class="row text-danger">
                                <div class="col-md-12 text-center">
                                    <h2>Sum Of All Fears</h2>
                                </div>
                            </div>

                            <div class="row" style="color:green">
                                <div class="col-md-12 ">
                                    <h4>
                                        The Sum of All Fears coding challenge involves an array of integers and some number called 'k'.
                                        If'K can be derived from adding any two numbers from the array then it is said to contain that 'k' value. If given an array = [10,4,6,7] and
                                        a 'k' value of 17, the array contains the 'k' value because 10 + 7 = 'k'
                                    </h4>
                                </div>
                            </div>

                            <div class="row text-primary">
                                <div class="col-md-12 text-center">
                                    <h4> Create a searchable array by entering 6 numbers</h4>
                                </div>
                            </div>

                            <div class=" col-md-2">
                                <input id="fear1" type="number" place holder=" Enter Number1: " class="form-control" />
                            </div>
                            <div class=" col-md-2">
                                <input id="fear2" type="number" place holder=" Enter Number2: " class="form-control" />
                            </div>
                            <div class=" col-md-2">
                                <input id="fear3" type="number" place holder=" Enter Number3: " class="form-control" />
                            </div>
                            <div class=" col-md-2">
                                <input id="fear4" type="number" place holder=" Enter Number4: " class="form-control" />
                            </div>
                            <div class=" col-md-2">
                                <input id="fear5" type="number" place holder=" Enter Number5: " class="form-control" />
                            </div>
                            <div class=" col-md-2">
                                <input id="fear6" type="number" place holder=" Enter Number6: " class="form-control" />
                            </div>
                            <div class=" row text-warning text-center">
                                <h3>Establish a k value by entering a number </h3>
                            </div>


                            <div class="row text-center">
                                <input id="kvalue" type="number" class="kvalue" />
                            </div>

                            <div class=" row">

                                <div class=" col-md-4 text-center">
                                    <button id="btnFear" class=" btn btn-primary standardW">Search</button>
                                </div>


                                <div class="col-md-4 text-center">
                                    <button id="btnToggle5" class="btn btn-success standardW">Show code</button>
                                </div>

                                <div class="col-md-4 text-center">
                                    <button id="btnClear5" class="btn btn-danger standardW">WipeOut</button>
                                </div>

                            </div>


                            <div class="row text-center h3">
                                <p id="fearOut"></p>
                            </div>

                            <div class=" row">
                                <div class=" col-md-12">
                                    <div id="code5" class="mathscroll">
                                        <pre class="brush:js">
 $("#btnFear").click(function () {
            var myArray = new Array();
            myArray.push(+$("#fear1").val());
            myArray.push(+$("#fear2").val());
            myArray.push(+$("#fear3").val());
            myArray.push(+$("#fear4").val());
            myArray.push(+$("#fear5").val());
            myArray.push(+$("#fear6").val());


            var kvalue = +$("#kvalue").val();


            for (index = 0, found = false; index <= myArray.length - 1; index++) {
                var position = myArray.indexOf(kvalue - myArray[index], index + 1);
                if (position > 0) {
                    found = true;
                    break;
                }
            }
            if (found) {
                $("#fearOut").html("<b>" + kvalue + "</b> was found by adding" + " <span class='target'>" + myArray[index] + "</span> and <span class='target'>" + myArray[position] + "</span>");
                return;
            }

            else {
                $("#fearOut").text(" not found");
            }

        });

        $("#btnClear5").click(function () {
            $(myArray()).val();
            $("#kvalue").val();
            $("#fearOut").text("");

        });

</pre>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!--Ending div for Tab-Content-->

                </div><!--ending Div for modal-body-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>





    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.bxslider.min.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/custom.js"></script>

    <script src="~/Scripts/CustomFact.js"></script>
    <script src="~/Scripts/PalReverse.js"></script>
    <script src="~/Scripts/MathEx.js"></script>
    <script src="~/Scripts/SOAFscript.js"></script>
    <script src="~/Scripts/FizzScript.js"></script>

</body>

</html>
